body {
  /* overflow: hidden; */
  font-family: "Playfair Display", serif;
}

:root {
  --offset: 7px;
  --border-size: 1px;
  --vertical-offset: calc(var(--offset) * -1);
  --horizontal-offset: calc(var(--offset) * -1);
}

*, *:before, *:after {
  box-sizing: border-box;
}

@keyframes stroke-animation {
  0% {
    stroke-dashoffset: 0;
  }

  30% {
    stroke-dashoffset: 1550;
  }

  60% {
    stroke-dashoffset: 3100;
    fill: transparent;
    transform: scale(1);
  }

  100% {
    stroke-dashoffset: 3100;
  }
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}